body {
    background: rgb(131,58,180);
    background: linear-gradient(135deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    
    /* Set the width of the scrollbar */
  scrollbar-width: thin; /* "thin" or "auto" */

  /* Customize the scrollbar track (background) */
  scrollbar-color: #333 #000; /* thumb color, track color */

  /* Add arrows at the top and bottom (optional) */
  scrollbar-arrow-color: #555; /* arrow color */
  }

h1 {
    color: #fefeff;
    font-family: 'Protest Riot', sans-serif;
}

p {
    color: navy;
    font-family: 'Rubik', sans-serif;
}

.main-button {
    /* Basic button styles */
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Rubik', sans-serif; /* Use Google Fonts */
    cursor: pointer;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease; /* Optional: Add a smooth hover effect */
  
    /* Blurry background effect */
    backdrop-filter: blur(10px); /* Adjust blur intensity */
    opacity: 1; /* Adjust transparency */
    transition: background 0.3s ease; /* Smooth transition */
  }
  
  .main-button:hover {
    transform: translateY(-2px);
  }